[Desktop Entry]
Name=shoot
Comment=My project description
Exec=/usr/bin/qmlscene $@ /usr/share/shoot/shoot.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
